spring:
  application:
    name: micropay-gateway

server:
  port: 8200

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET}

resilience4j:
  circuitbreaker:
    instances:
      transactionCB:
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
      paymentCB:
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
      walletCB:
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
      securityCB:
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

  timelimiter:
    instances:
      default:
        timeoutDuration: 10s

management:
  endpoints:
    web:
      exposure:
        include: health, info, circuitbreakers, metrics, prometheus
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
