apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  labels:
    app: gateway-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: micropay-gateway
          image: docker.io/dockerforomar/micropay-gateway:latest
          ports:
            - containerPort: 8200
          env:
            - name: SECURITY_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: security-secret
                  key: jwt-secret
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8200
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8200
            initialDelaySeconds: 30
            periodSeconds: 20
